<!-- class=svg-icon -->

<div class="links-wrapper">
    <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class=svg-icon><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> </a>
        <!-- <span> -->
        <!-- <a href="https://scholar.google.com/citations?user={{ site.googlescholar_user | cgi_escape | escape  }}&hl=en&oi=ao"><i class="ai ai-google-scholar ai-sm"></i> </a> -->
        <!-- </span> -->
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class=svg-icon><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> </a>
    <a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class=svg-icon><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> </a>
    <!-- <a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a> -->
</div>
